<%= link_to "Micropost", microposts_path %>
<p id="notice"><%= notice %></p>
<ul class="users">
<%= render "user" %>
</ul>
<%= will_paginate @clients, list_classes: %w(pagination justify-content-end) %>

<br>
<%= link_to "New User", new_user_path %>